/*SnakeGameCSS.css */

.scene{
    -fx-font: 12px "Cambria Bold";
    -fx-color: #e79423;
    }

.button{
    -fx-text-fill: #006464;
    -fx-background-color: #e79423;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    }
.label{
    -fx-font: 12px "Cambria Bold";
    -fx-color: #e79423;
    -fx-padding: 1px;
    }