/*SnakeGameCSS.css */

.button{
    -fx-text-fill: gray;
    -fx-background-color: ghostwhite;
    -fx-border-radius: 2;
    -fx-border-color: lightgray;
    -fx-padding: 5;
    }
.label{
    -fx-font: 12px "Cambria Bold";
    -fx-text-fill: gray;
    -fx-text-alignment:center;
    -fx-padding: 5px;
    }